<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--Valores de Configuración de la Aplicación-->
    <add key="LicenseProviderUrl" value=""/>
  </appSettings>
  <connectionStrings>
    <!--Cadenas de conexión contra bases de datos-->
    <add name="MeterMAX.MDM" providerName="System.Data.SQLiteClient" connectionString="Data Source=../MeterMAX.Storage.db"/>
  </connectionStrings>
</configuration>
